<a href="https://colab.research.google.com/github/monicman/dataengineering/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 73kB/s
Collecting py4j==0.10.7 (from pyspark)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 38.9MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=d53f6fb2dfcf3abf187beee2d1d5e5223b62deee634258a53bf57a190efa1acf
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

In [0]:
from pyspark.sql import SparkSession

In [0]:
import urllib
import io
import requests
ipgod101 = 'https://data.gov.au/data/dataset/a4210de2-9cbb-4d43-848d-46138fefd271/resource/e5cbeafc-5fb3-4dfd-bd22-afe81b6ab1e1/download/ipgod101.csv'
ipgod102 = 'https://data.gov.au/data/dataset/a4210de2-9cbb-4d43-848d-46138fefd271/resource/846990df-db42-4ad7-bbd6-567fd37a2797/download/ipgod102.csv'  
ipgod101=pd.read_csv(io.StringIO(requests.get(ipgod101).content.decode('utf-8')),low_memory=False)
ipgod102=pd.read_csv(io.StringIO(requests.get(ipgod102).content.decode('utf-8')),low_memory=False)

In [0]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URL = 'https://data.gov.au/data/dataset/bc515135-4bb6-4d50-957a-3713709a76d3/resource/839cc783-876f-47a2-a70c-0fe606977517/download/business_names_201909.zip'

url = urlopen(URL)
output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
output.write(url.read())
output.close()

df = pd.read_csv('zipFile.zip',sep='\t')   # pandas version 0.18.1 takes zip files

In [0]:
df = df.sample(100000)

In [25]:
df.head()

    REGISTER_NAME  ...        BN_ABN
0  BUSINESS NAMES  ...  8.426302e+10
1  BUSINESS NAMES  ...  1.689717e+10
2  BUSINESS NAMES  ...  3.189266e+10
3  BUSINESS NAMES  ...           NaN
4  BUSINESS NAMES  ...  8.213072e+10

[5 rows x 9 columns]