<a href="https://colab.research.google.com/github/monicman/dataengineering/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark import SparkFiles
import urllib
from urllib.request import urlopen   
import io
import requests
from zipfile import ZipFile
import os

In [0]:
spark = SparkSession.builder.getOrCreate()

def ingest_files(url,filename):
  spark.sparkContext.addFile(url)
  if url[-3:] == 'csv':
    return spark.read.csv(SparkFiles.get(filename), header=True)
  elif url[-3:] == 'zip':
    url = urlopen(url)
    output = open(filename, 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()
    print("error here")
    df = pd.read_csv(filename,sep='\t')
    print("no actually here")
    return spark.createDataFrame(df)

In [0]:
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, DateType

def ingest_files(url,filename):
  spark.sparkContext.addFile(url)
  if url[-3:] == 'csv':
    return spark.read.csv(SparkFiles.get(filename), header=True)
  elif url[-3:] == 'zip':
    url = urlopen(url)
    output = open(filename, 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()
    print("error here")
    df = pd.read_csv(filename,sep='\t')
    df.iloc[:, 3:6] = df.iloc[:, 3:6].apply(pd.to_datetime, errors='coerce', format='%Y/%m/%d')
    print("no actually here")
    myschema = StructType([StructField('REGISTER_NAME', StringType(), True),
                         StructField('BN_NAME', StringType(), True),
                         StructField('BN_STATUS', StringType(), True),
                         StructField('BN_REG_DT', DateType(), True),
                         StructField('BN_CANCEL_DT', DateType(), True),
                         StructField('BN_RENEW_DT', DateType(), True),
                         StructField('BN_STATE_NUM', StringType(), True),
                         StructField('BN_STATE_OF_REG', StringType(), True),
                         StructField('BN_ABN', DoubleType(), True)])
    return spark.createDataFrame(df, schema=myschema)

In [92]:
ipgod101 = 'https://data.gov.au/data/dataset/a4210de2-9cbb-4d43-848d-46138fefd271/resource/e5cbeafc-5fb3-4dfd-bd22-afe81b6ab1e1/download/ipgod101.csv'
ipgod102 = 'https://data.gov.au/data/dataset/a4210de2-9cbb-4d43-848d-46138fefd271/resource/846990df-db42-4ad7-bbd6-567fd37a2797/download/ipgod102.csv'  
ABN = 'https://data.gov.au/data/dataset/bc515135-4bb6-4d50-957a-3713709a76d3/resource/839cc783-876f-47a2-a70c-0fe606977517/download/business_names_201909.zip'

staging_ipgod101 = ingest_files(ipgod101,'ipgod101.csv')
staging_ipgod102 = ingest_files(ipgod102,'ipgod102.csv')
staging_abr = ingest_files(ABN,'zipFile.zip')

error here
no actually here

Step 1: Get ABN Data and stage it in spark

In [0]:
ABN = 'https://data.gov.au/data/dataset/bc515135-4bb6-4d50-957a-3713709a76d3/resource/839cc783-876f-47a2-a70c-0fe606977517/download/business_names_201909.zip'

url = urlopen(URL)
output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
output.write(url.read())
output.close()

df = pd.read_csv('zipFile.zip',sep='\t')   # pandas version 0.18.1 takes zip files

In [0]:
ABN = 'https://data.gov.au/data/dataset/bc515135-4bb6-4d50-957a-3713709a76d3/resource/839cc783-876f-47a2-a70c-0fe606977517/download/business_names_201909.zip'

'zip'

In [0]:
df.head()

          REGISTER_NAME  ...        BN_ABN
2612578  BUSINESS NAMES  ...  3.806964e+10
1566829  BUSINESS NAMES  ...  1.991220e+10
560846   BUSINESS NAMES  ...  7.810624e+10
2206955  BUSINESS NAMES  ...  2.136973e+10
1816358  BUSINESS NAMES  ...  8.620810e+10

[5 rows x 9 columns]

In [0]:
ipgod101.head()

   australian_appl_no  application_year  ...  patent_type  primary_ipc_mark_value
0          2018904968              2018  ...  Provisional                     NaN
1          2017215797              2018  ...     Standard             E06B   9/00
2          2017216336              2018  ...     Standard             A61M  31/00
3          2017216324              2018  ...     Standard             H04W  74/08
4          2017216313              2018  ...     Standard             H01L  29/06

[5 rows x 11 columns]

In [0]:
ipgod102[ipgod102['ipa_id'] == 322357.0]

         australian_appl_no    ipa_id country  ...  elect_div  abn acn
1260798          2012905138  322357.0      AU  ...     Petrie  NaN NaN
1290230          2013350321  322357.0      AU  ...     Petrie  NaN NaN
1449069          2018201166  322357.0      AU  ...     Petrie  NaN NaN
1464868          2019900440  322357.0      AU  ...   Brisbane  NaN NaN

[4 rows x 20 columns]